.divInline{
    display: inline;
}
.FiShoppingCart{
    color: white;
}

.FiShoppingCart:hover, a:hover{
    cursor: pointer;
    color:  #ffbd60;
}
.CartWidget{
    padding-left: 3px;
    text-decoration: none;
    color: white;
}

ul, li{
    display: inline;
    list-style:none;
}
.a{
    padding-left: 5px;
}