.navbar{
    width: 100%;
    display: flex;
    background-color: #faa227;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.logo{
    display: flex;
    flex-grow: 1;
    justify-content: left;
}
.logoimg{
    padding-left: 30px;
    height: 5rem;
    width:  5rem;
}
.secciones{
    flex-grow: 0.2;
    align-self: center;
}

.Option {
    display: inline;
    justify-content: right;
    font-family: 'Raleway';
    font-size: large;
    color: white;
    padding: 5px;
    text-decoration: none;
    list-style: none;
  }
  
  .ActiveOption {
    display: inline;
    justify-content: right;
    font-family: 'Raleway';
    font-size: x-large;
    color: white;
    padding: 5px;
    text-decoration: none;
    list-style: none;
}
