
.card .contenido-card button{
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: #faa227;
    background-color: transparent;
    font-family: 'Raleway';
    font-size: medium;
	border: 1px solid  #faa227;
	border-radius: 4px;
	transition: all 400ms ease;
}
.card .contenido-card button:hover{
	background: #e98801;
	color: #fff;
}
.card .contenido-card button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.contador {
    display: inline;
}